<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title>Sockets chat</title>
</head>
<body id="body">
    <ul id="mensajes"></ul>
    <form id="form" action="">
        <input id="input" type="text" class="inputtext" autocomplete="off">
        <button class="button-2">Enviar</button>
    </form>
    <!--el /socket.io/socket.io.js sale de los node_modules-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io(); //hace una instancia del socket
        //como es un socket este si necesita estar almacenado en memoria y persistente VAR

        let form = document.getElementById('form');
        let input = document.getElementById('input');
        let mensajes = document.getElementById('mensajes');
        
        //Notificacion push
        let body = document.getElementById('body');

        //cuando se carge el body, se ejecutara la funcion que verificara los permisos de notificaciones 
        body.addEventListener('onload', function(){
            if(Notification.permission !== 'granted'){ //si no esta permitido entonces pedira un permiso
                Notification.requestPermission()
            }
        });

        //mandar una notificacion 
        function mandarNotificacion(message){
            if(Notification.permission !== 'granted'){
                Notification.requestPermission() //pide permiso en caso de que este desactivado
            } else {
                const options = { //es un objeto que define los datos del mensaje y su direccion
                    body: message,
                    dir: 'ltr' //Es un atributo enumerado que indica la direccionalidad del texto de los elementos
                    //left to right
                };
                const notificacion = new Notification('Notification', options);
                notificacion.onclick = function(){
                    window.open("");
                }
            }
        };

        //-------------------Emisor------------------
        // e es llamarse a si mismo. al mismo form
        form.addEventListener('submit', function(e) {
            e.preventDefault();//quita el default
            socket.emit('chat message', input.value);//emitir o emite, necesita un nombre y el dato
            input.value = '';//limpia el contenido delinput text
        });
        
        //creamos un socket de vuelta para el emisor
        socket.on('chat message', function (message){
            let item = document.createElement('li'); // definimos que item es la creacion de una lista <li>
            item.textContent = message; //el contenido de la lista es el mensaje
            mensajes.appendChild(item);//crea el nodo que en este caso es una lista <li>
            window.scrollTo(0, document.body.scrollHeight);//manda el elemento html creado hasta abajo

            //mandar notificacion push
            mandarNotificacion(message);
        })

    </script>
</body>
</html>